@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.button:hover{
    background-color: blue;
}

.customSub {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px; 
    margin: 50px; 
                     

    }
       







.customSubHeading{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 35px;
    margin: 50px; 
}


.Header{
    align-items: center;
    display: flex; 
    justify-content: flex-end;
    padding: 10px 25px; 

}

.HeaderNav a {

    color: black; 
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px; 
    font-weight: bold;
    margin: 1 auto; 
    padding: 5px; 
    text-decoration: none;

}

.form {
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    margin: 50px; 
    font-size: 15px;
    font-family: 'Rock Salt', cursive; 

}

.UserProfile{
    border: 1px solid black; 
    margin: 50px; 
    padding: 10px 30px; 


}

.UserProfile p{
    font-size: 22 px;
    font-family: 'Rock Salt', cursive; 
}


.PostCard{
    display: block; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px 20px; 
    margin: 50px; 
}

.PostCard h2 {
    font-size: 22 px;
    font-family: 'Rubik Mono One', sans-serif;
}

.PostCard p {
    font-size: 22 px;
    font-family: 'Rock Salt', cursive; 
}

.PostCardWrapper img {
    height: auto; 
    width: 100%; 
}
