.Header{
    align-items: center;
    display: flex; 
    justify-content: flex-end;
    padding: 10px 25px; 
}

.HeaderNav a {

    color: black; 
    font-size: 20px; 
    font-weight: bold; 
    margin: 1 auto; 
    padding: 3px; 
    text-decoration: none;

}

.form {
    display: flex; 
    flex-direction: column;

}

.UserProfile{
    border: 1px solid black; 
    padding: 20px; 
}

.PostCard{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    border: 2px solid black; 
}

.PostCardWrapper img {
    height: auto; 
    width: 100%; 
}

